<p id="notice"><%= notice %></p>

<p>
  <strong>Exercisetype:</strong>
  <%= @cardio.exerciseType %>
</p>

<p>
  <strong>Minutespermile:</strong>
  <%= @cardio.minutesPerMile %>
</p>

<p>
  <strong>Exerciselevel:</strong>
  <%= @cardio.exerciseLevel %>
</p>

<%= link_to 'Edit', edit_cardio_path(@cardio) %> |
<%= link_to 'Back', cardios_path %>
