<<<<<<< HEAD
<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
=======
<li>
  <%= gravatar_for user, size: 52 %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
>>>>>>> a11cf7070d11380333adc8eeed34f7f8e8f7a32c
</li>