<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <div id="chart"></div>
        <script>
//put in application.js later (as javascript and Ruby is in HTML)
        var graph = new Rickshaw.Graph( {
            element: document.querySelector("#chart"), 
            width: 500, 
            height: 200, 
            series: [{
                color: 'steelblue',
                data: <%=  @data.html_safe%> 
                //.html_safe: short hand method, don't escape this
            }]
        });

        graph.render();
        </script>
    </section>
  </aside>
  <div class="span8">
    <% if @user.microposts.any? %>
      <h3>Microposts (<%= @user.microposts.count %>)</h3>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>