<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :paymentID %><br>
    <%= f.number_field :paymentID %>
  </div>
  <div class="field">
    <%= f.label :paymentDate %><br>
    <%= f.datetime_select :paymentDate %>
  </div>
  <div class="field">
    <%= f.label :paymentAmount %><br>
    <%= f.text_field :paymentAmount %>
  </div>
  <div class="field">
    <%= f.label :paymentMethod %><br>
    <%= f.text_field :paymentMethod %>
  </div>
  <div class="field">
    <%= f.label :invoiceID %><br>
    <%= f.number_field :invoiceID %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
