<h1>Listing appointments</h1>

<table>
  <thead>
    <tr>
      <th>Appointment Id</th>
      <th>Client Id</th>
      <th>Trainer Id</th>
      <th>Location Id</th>
      <th>Appointment Date</th>
      <th>Appointment Time</th>
      <th>Appointment Type</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.ApptID %></td>
        <td><%= appointment.clientID %></td>
        <td><%= appointment.trainerID %></td>
        <td><%= appointment.locationID %></td>
        <td><%= appointment.apptDate %></td>
        <td><%= appointment.apptTime %></td>
        <td><%= appointment.apptType %></td>
        <td><%= link_to 'Show', appointment %></td>
        <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
        <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Appointment', new_appointment_path %>
