<%= form_for(@exercise) do |f| %>
  <% if @exercise.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exercise.errors.count, "error") %> prohibited this exercise from being saved:</h2>

      <ul>
      <% @exercise.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :exerciseID %><br>
    <%= f.number_field :exerciseID %>
  </div>
  <div class="field">
    <%= f.label :exerciseType %><br>
    <%= f.text_field :exerciseType %>
  </div>
  <div class="field">
    <%= f.label :exerciseName %><br>
    <%= f.text_field :exerciseName %>
  </div>
  <div class="field">
    <%= f.label :muscleGroup %><br>
    <%= f.text_field :muscleGroup %>
  </div>
  <div class="field">
    <%= f.label :equipment %><br>
    <%= f.text_field :equipment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
