<h1>Listing trainers</h1>

<table>
  <thead>
    <tr>
      <th>Trainerid</th>
      <th>Traineraddress</th>
      <th>Trainerphone</th>
      <th>Traineremail</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @trainers.each do |trainer| %>
      <tr>
        <td><%= trainer.trainerID %></td>
        <td><%= trainer.trainerAddress %></td>
        <td><%= trainer.trainerPhone %></td>
        <td><%= trainer.trainerEmail %></td>
        <td><%= link_to 'Show', trainer %></td>
        <td><%= link_to 'Edit', edit_trainer_path(trainer) %></td>
        <td><%= link_to 'Destroy', trainer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Trainer', new_trainer_path %>
